.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 colunas por padrão */
  grid-template-rows: auto;
  gap: 5em; /* Gap reduzido */
  margin: 0 auto; /* Centraliza horizontalmente */
  padding: 0 1em;
  justify-content: center; /* Centraliza o grid */
  margin-bottom: 2%;
}

/* Responsividade para dispositivos menores */
@media (max-width: 1200px) {
  .cards {
    grid-template-columns: repeat(3, 1fr); /* 3 colunas em telas menores */
  }
}

@media (max-width: 900px) {
  .cards {
    grid-template-columns: repeat(2, 1fr); /* 2 colunas em tablets */
  }
}

@media (max-width: 600px) {
  .cards {
    grid-template-columns: 1fr; /* 1 coluna em celulares */
  }
}

/* Lista de Pokémons */
.listaPokemons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1em;
}

/* Filtro de categorias */
.filtragem {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 600px;
  margin: 2em 1em;
  flex-wrap: wrap; /* Permite quebrar linha em dispositivos menores */
  gap: 1em; /* Reduz o espaço entre os elementos */
}

.filtroCategoria {
  flex: 1;
  margin: 0.5em;
}

.filtragemCategoria {
  display: flex;
  flex-direction: column;
  gap: 0.5em; /* Reduz o espaçamento entre os checkboxes */
}

/* Título de categorias e filtro */
.filtroCategoriaTitulo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

/* Paginação */
.paginacao {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Adapta os botões em várias linhas, se necessário */
  gap: 0.5em;
  margin: 20px 1em;
}

.paginacao button {
  flex: 1 1 auto; /* Permite que os botões se ajustem ao tamanho disponível */
  max-width: 200px; /* Aumenta o tamanho máximo */
  font-size: 1.2rem; /* Aumenta o tamanho da fonte */
  padding: 0.8em 1.5em; /* Aumenta o espaçamento interno */
  height: auto; /* Ajusta automaticamente a altura */
  border: 2px solid #ccc; /* Opcional: adiciona uma borda mais destacada */
  border-radius: 5px; /* Opcional: arredondamento */
  background-color: #f5f5f5; /* Opcional: cor de fundo */
  transition: all 0.3s ease; /* Animação suave para hover */
}

/* Ajuste de tamanhos menores */
@media (max-width: 600px) {
  .paginacao {
    flex-direction: column; /* Alinha os botões verticalmente */
    gap: 0.5rem;
  }

  .paginacao button {
    width: 100%; /* Botões ocupam toda a largura */
  }
}

/* Total de Pokémons */
.total {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1em;
  font-size: 1rem;
}

@media (max-width: 600px) {
  .total {
    flex-direction: column; /* Alinha texto e ícone verticalmente */
  }
}
