.dadosCarta {
  display: flex;
  flex-direction: row;
}

.tituloDados {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.ataques,
.fraquezas,
.habilidades {
  padding: 10px;
  width: 33%;
}

@media (max-width: 768px) {
  .dadosCarta {
    flex-direction: column; /* Organiza em colunas */
  }

  .ataques,
  .fraquezas,
  .habilidades {
    width: 100%; /* Largura total em dispositivos menores */
  }
}
